<html xmlns:th="http://thymeleaf.org">
<head th:replace="layout :: head">

</head>


<body>
		<nav th:replace="layout :: menu"></nav>
		<br/>
<div class="container" style="width : 50%">
	<div class="card">
  <div class="card-header">
   <h3 class="card-title" th:text="${tituloformularioplan}"></h3>
  </div>
  <div class="card-body">
		<form data-toggle="validator" role="form" th:object="${plan}" th:action="@{/saveplan}" method="post">
			<input type="hidden" th:field="*{id}" />
			<div class="mb-3">
				<label for="nombrePlan" class="form-label">Plan</label>
				<input type="text" class="form-control" id="nombrePlan"
					placeholder="Ingrese plan" th:field="*{nombrePlan}">
			</div>
			<div class="mb-3">
				<label for="precioPlan" class="form-label">Precio Plan</label>
				<input type="number" class="form-control" id="precioPlan" th:field="*{precioPlan}"
					placeholder="Ingrese precio Plan">
			</div>
			 <button class="btn btn-primary" type="submit">
			
			 <i class="fa fa-check-circle"></i>
			   Guardar
			 </button>
		</form>
	</div>
	</div>
</div>
</body>

</html>